#fm-player {
	border: 1px dotted #333;
	width: 368px;
}

.fm-player #container {
	display: none;
}

.fm-player .play {
	background: url("../img/fm-player/play-pause.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	width: 32px;
	height: 32px;
	position: absolute;
}

.fm-player .play:hover {
	background-position: 0 -32px;
}

.fm-player .play:active {
	background-position: 0 -64px;
}

.fm-player .pause {
	background-position: 0 -96px;
}

.fm-player .pause:hover {
	background-position: 0 -128px;
}

.fm-player .pause:active {
	background-position: 0 -160px;
}

.fm-player .progress {
	position: relative;
	left: 32px;
}

.fm-player .progress .begin {
	background: url("../img/fm-player/progress-begin.png") no-repeat scroll 0 0;
	width: 8px;
	height: 32px;
	position: absolute;
}

.fm-player .progress .bar {
	background: url("../img/fm-player/progress-bar.png") repeat-x scroll 0 0 transparent;
	width: 320px;
	height: 32px;
	position: absolute;
	left: 8px;
}

.fm-player .progress .bar .load {
	background-color: #BECBEA;
	width: 0px;
	height: 4px;
	position: absolute;
	top: 14px;
}

.fm-player .progress .bar .playback {
	background-color: #537CDB;
	width: 0px;
	height: 4px;
	position: absolute;
	top: 14px;
}

.fm-player .progress .end {
	background: url("../img/fm-player/progress-end.png") no-repeat scroll 0 0 transparent;
	width: 8px;
	height: 32px;
	position: relative;
	left: 328px;
}