.fm-player {
	border: 1px dotted #333;
	/*height: 32px;*/
}

.fm-player .button {
	width: 32px;
	height: 32px;
	cursor: pointer;
}

#audio-container {
	display: none;
}

#playPause.button {
	background: url("../img/fm-player/pixel/play-pause.png") no-repeat scroll 0 0 transparent;
	float: left;
}

#volume.button {
	background: url("../img/fm-player/pixel/play-pause.png") no-repeat scroll 0 0 transparent;
	float: right;
}

#playPause.button:hover {
	background-position: 0 -32px;
}

#playPause.button:active {
	background-position: 0 -64px;
}

#playPause.button.pause {
	background-position: 0 -96px;
}

#playPause.button.pause:hover {
	background-position: 0 -128px;
}

#playPause.button.pause:active {
	background-position: 0 -160px;
}

.fm-player .progress {
	height: 100%;
}

.fm-player .progress .begin {
	background: url("../img/fm-player/pixel/progress-begin.png") no-repeat scroll 0 0;
	width: 8px;
	height: 32px;
	float: left;
}

.fm-player .progress .end {
	background: url("../img/fm-player/pixel/progress-end.png") no-repeat scroll 0 0 transparent;
	width: 8px;
	height: 32px;
	float: right;
}

.fm-player .progress .bar {
	background: url("../img/fm-player/pixel/progress-bar.png") repeat-x scroll 0 0 transparent;
	height: 32px;
	position: relative;
	overflow: hidden;
}

#loaded {
	background-color: #BECBEA;
	width: 0%;
	height: 4px;
	margin-top: 14px;
}

#played {
	background-color: #537CDB;
	width: 0%;
	height: 4px;
	position: absolute;
	top: 14px;
}
