.layout {
	border: 1px dotted #333;
}

#fm-player {
	display: none;
}

#fm-playlist {
	border: 1px dotted #333;
	margin-top: 3px;
}

#fm-debug {
	border: 1px dotted #333;
	height: 400px;
	margin-top: 3px;
	overflow: auto;
}

.layout .button {
	background: url("pixel.png") no-repeat scroll 0 0;
	width: 32px;
	height: 32px;
}

#playback.button {
	background-position: 0 0;
	float: left;
	cursor: default;
}

#playback.button.enabled {
	background-position: 0 -32px;
	cursor: pointer;
}

#playback.button.enabled:hover {
	background-position: 0 -64px;
}

#playback.button.enabled:active {
	background-position: 0 -96px;
}

#playback.button.pause {
	background-position: -32px 0px;
}

#playback.button.pause:hover {
	background-position: -32px -32px;
}

#playback.button.pause:active {
	background-position: -32px -64px;
}

.layout .progress {
	height: 100%;
}

.layout .progress .begin {
	background: url("pixel.png") no-repeat scroll -192px -32px;
	width: 8px;
	height: 32px;
	float: left;
}

.layout .progress .end {
	background: url("pixel.png") no-repeat scroll -216px -32px;
	width: 8px;
	height: 32px;
	float: right;
}

#bar {
	background: url("pixel-bar.png") repeat-x scroll 0 0;
	height: 32px;
	position: relative;
	overflow: hidden;
}

#seek {
	height: 12px;
	margin-top: 10px;
}

#seek.playing {
	cursor: pointer;
}

#loaded {
	background-color: #C2CADC;
	width: 0px;
	height: 4px;
	position: absolute;
	top: 14px;
}

#played {
	background-color: #F3A120;
	width: 0px;
	height: 4px;
	position: absolute;
	top: 14px;
}

#volume.button {
	background-position: -32px -96px;
	float: right;
}
