html {
	/*height: 100%;
	overflow: hidden;*/
}

body {
	font-family: Verdana, Arial, Sans-Serif;
	font-size: 12px;
	margin: 0;
	/*overflow: hidden;
	height: 100%;*/
}

a:visited {
	color: #00f;
}

.player-layout {
	background-color: #fff;
	width: 100%;
	height: 32px;
	position: fixed;
	top: 0;
}

#fm-player {
	/*display: none;*/
}

#fm_legacy_object {
	position: fixed;
	right: 0;
	bottom: 0;
}

#fm-debug {
	border: 1px dotted #333;
	font-family: Arial;
	font-size: 10px;
	height: 370px;
	width: 200px;
	float: left;
	margin-top: 3px;
	overflow: auto;
}

#fm-debug-audio {
	border: 1px dotted #333;
	font-family: Arial;
	font-size: 10px;
	height: 370px;
	margin-top: 3px;
	overflow: hidden;
}

.player-layout .button {
	background: url("pixel.png") no-repeat scroll 0 0;
	width: 32px;
	height: 32px;
}

#playback.button {
	background-position: 0 0;
	float: left;
	cursor: default;
}

#playback.button.enabled {
	background-position: 0 -32px;
	cursor: pointer;
}

#playback.button.enabled:hover {
	background-position: 0 -64px;
}

#playback.button.enabled:active {
	background-position: 0 -96px;
}

#playback.button.pause {
	background-position: -32px 0px;
}

#playback.button.pause:hover {
	background-position: -32px -32px;
}

#playback.button.pause:active {
	background-position: -32px -64px;
}

#prev.button {
	background-position: -64px 0;
	float: left;
	cursor: default;
}

#prev.button.enabled {
	background-position: -64px -32px;
	cursor: pointer;
}

#prev.button.enabled:hover {
	background-position: -64px -64px;
}

#prev.button.enabled:active {
	background-position: -64px -96px;
}

#next.button {
	background-position: -96px 0;
	float: right;
	cursor: default;
}

#next.button.enabled {
	background-position: -96px -32px;
	cursor: pointer;
}

#next.button.enabled:hover {
	background-position: -96px -64px;
}

#next.button.enabled:active {
	background-position: -96px -96px;
}

.player-layout .progress {
	height: 100%;
}

#begin {
	background: url("pixel.png") no-repeat scroll -196px -32px;
	width: 4px;
	height: 32px;
	float: left;
}

#begin.enabled {
	background-position: -196px -64px;
}

#begin.enabled.hover {
	background-position: -196px -96px;
}

#end {
	background: url("pixel.png") no-repeat scroll -216px -32px;
	width: 4px;
	height: 32px;
	float: right;
}

#end.enabled {
	background-position: -216px -64px;
}

#end.enabled.hover {
	background-position: -216px -96px;
}

#bar {
	background: url("pixel-xscale.png") repeat-x scroll 0 0;
	height: 32px;
	position: relative;
	overflow: hidden;
}

#bar.enabled {
	background-position: 0 -32px;
}

#bar.enabled:hover {
	background-position: 0 -64px;
}

#seek {
	height: 12px;
	margin-top: 10px;
}

#seek.playing {
	cursor: pointer;
}

#loaded {
	background-color: #CBD2E2;
	width: 0px;
	height: 8px;
	position: absolute;
	top: 12px;
}

#played {
	background: url("pixel-xscale.png") repeat-x scroll 0 -96px;
	width: 0px;
	height: 8px;
	position: absolute;
	top: 12px;
}

#volume.button {
	background-position: -32px -96px;
	float: right;
}

#volume.button.level-1 {
	background-position: -128px 0;
}

#volume.button.level-1:hover {
	background-position: -128px -32px;
}

#volume.button.level-2 {
	background-position: -128px -64px;
}

#volume.button.level-2:hover {
	background-position: -128px -96px;
}

#volume.button.level-3 {
	background-position: -160px 0;
}

#volume.button.level-3:hover {
	background-position: -160px -32px;
}

#volume.button.level-4 {
	background-position: -160px -64px;
}

#volume.button.level-4:hover {
	background-position: -160px -96px;
}

#volume.button.level-5 {
	background-position: -192px 0;
}

.playlist-select ul {
	padding: 0px;
	margin: 32px 0px 10px 0px;
}

.playlist-select li {
	font-size: 24px;
	padding-left: 30px;
	display: inline;
}

#fm-playlist {
}

#fm-playlist .playtable {
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#fm-playlist .playtable .header {
	background-color: #000;
	color: #fff;
}

#fm-playlist .playtable .playing-col {
	border-right: 1px solid #ccc;
	width: 22px;
}

#fm-playlist .playtable .artist-col {
	border-right: 1px solid #ccc;
	width: 30%;
	padding: 4px;
}

#fm-playlist .playtable .title-col {
	padding: 4px;
}

#fm-playlist .playtable .item td {
	padding: 4px;
	cursor: default;
}

#fm-playlist .playtable .item:hover {
	background-color: #CBD2E2;
}

#fm-playlist .playtable .item.playing {
	background-color: #537cdb;
	color: #fff;
}

#fm-playlist .playtable .item .playing {
	background: url("pixel.png") no-repeat scroll -224px 0;
	width: 14px;
	height: 14px;
}

#fm-playlist .playtable .item .paused {
	background: url("pixel.png") no-repeat scroll -224px -14px;
	width: 14px;
	height: 14px;
}
